services:

  crm:
    image: haagenswe/gritcrm:latest
    container_name: crm-container
    ports:
      - "8090:8080"
    networks:
      - crmNetwork
    environment:
      DB_DRIVER: org.postgresql.Driver
      DB_DIALECT: org.hibernate.dialect.PostgreSQLDialect
      DB_URL: jdbc:postgresql://postgres:5432/gritcrm
      DB_USERNAME: dbuser
      DB_PASSWORD: dbpassword

  postgres:
    image: postgres:latest
    container_name: postgres-container
    ports:
      - "5432:5432"
    volumes:
      - pgData:/var/lib/postgresql
    networks:
      - crmNetwork
    environment:
      POSTGRES_USER: dbuser
      POSTGRES_PASSWORD: dbpassword
      POSTGRES_DB: gritcrm

volumes:
  pgData:

networks:
  crmNetwork:
    driver: bridge
